/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[10].use[3]!./app/components/DarkVeil.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.darkveil-canvas {
  position: fixed;   /* stay pinned to viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: none; /* allow clicks through */
  z-index: 0;          /* behind all content */
}

